.DS_Store
.vscode/
**/__pycache__

# dataset
**/dataset
**/sandbox
NameOfSymlink
AnotherSymlink

**/trained_models/*
!**/trained_models/.gitkeep

**/model_weights/*
!**/model_weights/.gitkeep



# sam2
**/sam2
